.css-13cymwt-control{
    background-color: var(--secondary) !important;
    padding: 6px;
    font-size: 14px;
    border: 1px solid rgba(151, 151, 151, 0.253) !important;
    border-radius: 5px !important;
}