.bg-cart-btn{
    background-color: #DEF9EC;
    color: var(--primary);
}
.bg-cart-btn:hover{
    background-color: var(--primary);
    color: white;
    transition: 0.5s;
}
@media screen and (max-width: 340px) {
  .flex-card-bottom {
    flex-direction: column;
    
  }
}
