.image-upload-container {
    border: 2px dashed #ddd;
    text-align: center;
  }
  
  .upload-placeholder {
    color: #888;
  }
  
  
  
  .image-upload-container img {
    max-width: 100%;
    height: 200px;
    border-radius: 8px;
  }
  