.category-container-img {
  background-image: url("../../../../assets/home/vegBg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.category-header-container {
  background-color: #ebf8ffe6;
  height: 40vh;
}


