.profile-bg {
  height: 120px;
  background-image: url("../../../assets/banner/profileBg.png");
  background-size: cover;
}

.profile-img-user {
  width: 100px;
  height: 100px;
}
.profile-img-container {
  position: relative;
  width: 150px;
  margin: -75px auto 0 0;
}

.camera-icon-container {
  position: absolute;
  bottom: 35%;
  right: 43%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.123);
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 350px) {
  .profile-bg {
    height: 100px;
    background-position: 80% 50%;
  }
  .profile-img-user {
    width: 80px;
    height: 80px;
  }
  .profile-img-container {
 
    margin: -60px auto 0 0;
  }
  .camera-icon-container {
    position: absolute;
    bottom: 43%;
    right: 33%;
    width: 24px;
    height: 24px;
  }
}
