.cart-badge {
  left: 16px;
  top: -5px;
  outline: 3px solid white;
  width: 12px;
  height: 12px;
  font-size: 10px;
}


@media screen and (max-width: 768px) {
  .logo-nav {
    width: 120px;
  }
  
}
