.input-focus {
  outline: none;
}

.input-focus:focus {
  outline: 1px solid var(--primary);
  color: #253d4e;
}
.text-decoration-none {
  text-decoration: none;
}
/* font sizes */

.fs-7 {
  font-size: 14px;
}

::-webkit-scrollbar{
  display: none;
}